@import url('https://fonts.googleapis.com/css?family=Hind|Playfair+Display|Rubik&display=swap');

h1 {
    text-align: center;
    padding: 10px;
    color: black;
    font-family: 'Barlow', sans-serif;
    font-size: 2.25em;
    line-height: 1.1em;
    font-weight: bold;
  }
h2, h3, h4, h5, h6 {
    padding: 10px;
    color: black;
    font-family: 'Barlow', sans-serif;
    font-size: 2.25em;
    line-height: 1.1em;
    font-weight: bold;
  }

p {
    padding: 10px;
    color: #ff0e06;
    font-family: "EB Garamond", Georgia, serif;
    font-size: 1.35em;
    line-height: 1.5em;
    text-align: center;
    }

.main ul {
        margin: 0;
      }
.main ul li a {
        font-family: 'Rubik', sans-serif;
        list-style-type: none;
        display: inline-block;
        padding-left: 150px;
        font-size: 1.35em;
      }
.main ul li:hover {
      background-color: grey;
       border-radius: 2px;
       box-shadow: 2px 2px 2px black;
      }